## Application environment keys
NODE_ENV=development
PORT=3000
DOMAIN=localhost
HTTPS=false
### JWT specific keys
JWT_SECRET=Gefw55RCeBbqy4pf8y5aSUF5yymUBSs6es3qbA2xcjHoFpGkec78sNB2qNcpKau
JWT_EXPIRATION_MINUTES=15
### Mongo DB keys
MONGO_NAME=localdb
MONGO_URI=mongodb://localhost:27017
### Log keys
LOG_LEVEL=debug
LOG_PATH=logs
LOG_FILE=app.log
# combined, common, dev, short, tiny
LOG_FORMAT=combined
# daily, single
LOG_TYPE=daily
### Mail Creds
MAIL_HOST='smtp.mailtrap.io'
MAIL_PORT=25
MAIL_USER=''
MAIL_PASS=''
MAIL_FROM='"Vivek S" <vivek.s@accionlabs.com>'
### Push Notification keys
ONESIGNAL_USER_AUTH_KEY=''
ONESIGNAL_APP_AUTH_KEY=''
ONESIGNAL_APP_ID=''
## SMS Options
SMS_HOST=''
SMS_SENDER=''
SMS_APIKEY=''
SMS_USERNAME=''
SMS_HASH=''
SMS_TEST=0
